html {
    box-sizing: border-box;
    font-family: Sunflower,Helvetica,Arial,sans-serif;
    background-image: url("background.jpg");
}

.principal{
    height: 90%;
    width:90%;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 130px;
    height:5.8em;
    
    
}

.container {
    color: white;
    min-width: 1024px;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;

}

.photo {
    width: 30%;
    float: left; 
    background-image: url("photo.jpg");   
    background-size: cover;
    min-height: 26em;
}

.info {
    width: 70%;
    float: left;
}

.name {
    min-height: 8.66em;
    
}

.headline {
    
    font-family: Sunflower,Helvetica,Arial,sans-serif;
    line-height: 130px;
    min-height: 8.66em;
    background-color: black;

}

.tile {
    font-family: Sunflower,Helvetica,Arial,sans-serif;
    width: 20%;
    float: left;
    min-height: 8.66em;
    line-height: 130px;
    text-align: center;
}

.container2 {
    min-width: 1024px;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    height: 20em;

}

.geral{
    
    width: 76%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #1abc9c;
    height: 20em;
    color: white;
}

.info2{
    
    width: 24%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #bfbfbf;
    height: 20em;
}

.about{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
    height: 12em;
}

.download{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
    height: 12em;
}
.newsletter{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
    height: 12em;
}
.folowme{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
    height: 12em;
}

.resume{
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #3498db;
    
    line-height: 30px;
    color: white;

}

.experiencia{
    color: white;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #9b59b6;
    line-height: 30px;
    
}

.experiencia1{
    background-color: white;
    color: black;   
}

.contats{
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #e67e22;
    height: 20em;
    line-height: 30px;
    color: white;
}

.feedback{
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #e74c3c;
    height: 20em;
    color: white;

}
