html {
    box-sizing: border-box;
    font-family: Tajawal,Helvetica,Arial,sans-serif;
    background-color: grey;
}

h2 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 130px;
    
    
}

.container {
    color: white;
    min-width: 1024px;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;

}

.photo {
    width: 40%;
    float: left; 
    background-image: url("photo.jpg");   
    background-size: cover;
    min-height: 26em;
}

.info {
    width: 60%;
    float: left;
}

.name {
    min-height: 8.66em;
    
}

.headline {
    
    font-family: Tajawal,Helvetica,Arial,sans-serif;
    line-height: 130px;
    min-height: 8.66em;
    background-color: black;

}

.tile {
    font-family: Tajawal,Helvetica,Arial,sans-serif;
    width: 20%;
    float: left;
    min-height: 8.66em;
    line-height: 130px;
    text-align: center;
}

.container2 {
    min-width: 1024px;
    width: 100%;
    float: left;
    margin-right: auto;
    margin-left: auto;

}

.geral{
    
    width: 76%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #fff;
}

.info2{
    
    width: 24%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: #bfbfbf;
}

.about{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
}

.download{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
}
.newsletter{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
}
.folowme{
    
    width: 25%;
    float: left;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    background-color: grey;
}
